/*  families used..

font-family: 'Paytone One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive; 
                                   */

/* google font import link .. */

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@300;400;500&family=Righteous&display=swap');

/* common css */

*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body {
background: #eeeff4;
}

.wrapper .header {
width: 100%; height: 50px;
background-image: linear-gradient(to right,#483C32 , #c5782b);
color: #ffff;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 5px;
font-weight:900;
}
.h1 h1{
    font-family: 'Righteous', cursive;
    border-color:#80461B;
}
h2{
background:linear-gradient(90deg,#483C32 , #c5782b);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.wrapper .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
    width: 100%; height: 50px;
    display: flex;
}
.back{
    margin-top: 12px;
    margin-right: 15px;
}
.back a{
    text-decoration: none;
    color: darkgrey;
    transition: 0.5s;
}
.back a:hover{
    text-decoration: none;
    color: #36454F;
}
.logo img{
    margin-left: 15px;
}
.stag{
    text-align: center;
    z-index: 1;
    padding: 3px;
    color: #fff;
    position: fixed;
    background-color:#c5782b ;
    border-radius: 0 0 8px 0;
}
.cards_wrap
{
padding: 20px; 
width: 100%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.cards_wrap .card_inner{
display: flex;
background: #fff; 
border-radius: 5px;
padding: 35px 20px;
min-width: 225px;
min-height: 315px;
width: 100%;
}

.cards_wrap .card_inner img
{
width: 570px; 
height: 400px;
}
.wrapper-grid{
    width: 100%;
    padding-left: 40px;
}
.cards_wrap .card_inner .name
{
    color: #80461B;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cards_wrap .card_inner .trainer{
    color: #32CD32;
}

.cards_wrap .card_inner .rating
{
    color:#b6c0c2 ;
    font-size: 18px;
    font-weight: 100;
    margin: 5px 0 10px
} 
.cards_wrap .card_inner .location{
    
    color:#384041 ;
    font-size: 18px;
    margin: 5px 0 10px
}
.cards_wrap .card_inner .location{
    
    color:#384041 ;
    font-size: 18px;
    margin: 5px 0 10px
}

.cards_wrap .card_inner .time{

    font-size: 14px;
    line-height: 24px;
    color: #7b8ca0;
}
.details{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.contact{
    margin-top: 2px;
}
.wrapper-grid button{
border-color: #eeeff4;
border-radius: 4px;
padding: 5px;
color: #ffffff;
background-image: linear-gradient(to right,#483C32 , #c5782b);
}

.wrapper-grid button:hover{
    padding: 5px;
    background:linear-gradient(90deg,#483C32 , #c5782b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */

.p4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.copyright{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.icon{
    padding-left: 580px;
    letter-spacing: 7px;
    display: flex;
}
.p5{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}
