<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    
    <h1> <u> User Login Page </u> </h1>
    	
	<h1> Use Name : <text th:text="${model1.userId}"> </text> </h1>
	<h1> Name : <text th:text="${model1.name}"> </text> </h1>
	<h1> Password : <text th:text="${model1.password}"> </text> </h1>
	
    <br><br>
    <h4>
    <a href="index">Click here to go home page</a>
    </h4>

</body>
</html>